
.container {
    margin: 0px;
    padding: 10px;
    background-color: #20b6b6;
    
}

.logo_container {
    display: inline-flex;
    align-items: center;
}

.text_container {
  display: inline-flex;
  flex-direction: column;
  margin: 0px;
  
  margin-left: 16px;
  color: #fff;
}

h1,p { margin: 0px;}

img {
    
}